.health {
  $w: 60px;

  &__graph-container {
    width: $w;
    height: $w;
    position: relative;

    & > svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: rotate(-90deg);
      transition: all 1s ease-in-out;
      fill: none;
      overflow: visible;
      stroke-width: 5;
      stroke-linecap: round;
      stroke-dasharray: 0 999;

      circle {
        fill: none;
        stroke-width: 4px;
      }
      circle:first-child {
        stroke: $grey;
        opacity: 0.25;
      }
      circle:last-child {
        stroke: $teal;
        -webkit-filter: drop-shadow(0px 0px 3px rgba($teal, 1));
        filter: drop-shadow(0px 0px 3px rgba($teal, 1));
      }
    }

    &--critical {
      svg {
        circle:last-child {
          stroke: $red;
          -webkit-filter: drop-shadow(0px 0px 3px rgba($red, 1));
          filter: drop-shadow(0px 0px 3px rgba($red, 1));
          fill: rgba($red, 0.25);
        }
      }
    }

    &--high {
      svg {
        circle:last-child {
          stroke: $red;
          -webkit-filter: drop-shadow(0px 0px 3px rgba($red, 1));
          filter: drop-shadow(0px 0px 3px rgba($red, 1));
        }
      }
    }

    &--medium {
      svg {
        circle:last-child {
          stroke: $orange;
          -webkit-filter: drop-shadow(0px 0px 3px rgba($orange, 1));
          filter: drop-shadow(0px 0px 3px rgba($orange, 1));
        }
      }
    }

    &-pct {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 0.75rem;
      font-family: "Barlow Semi Condensed", Verdana, sans-serif;
      font-weight: 500;
      color: $white;
      padding-left: 0.25rem;
      box-shadow: 0px 0px 8px rgba($black, 1);
      user-select: none;
    }

    &-title {
      font-size: 0.9rem;
      font-weight: 400;
      color: $grey;
      text-transform: uppercase;
      letter-spacing: 0.04em;
      padding-bottom: 0.2rem;
    }

    &-footer {
      font-size: 0.85rem;
      font-weight: 500;
      text-transform: capitalize;
      letter-spacing: 0.04em;
      padding-top: 0.2rem;

      &--low {
        color: $teal;
      }

      &--medium {
        color: $orange;
      }

      &--high {
        color: $red;
      }

      &--critical {
        color: $primary1;
      }
    }
  }
}
