.trade {
  &__history {
    display: flex;
    flex-direction: column;
    padding: 0.75rem 0.75rem 0.75rem 1.35rem;
    background: $black;
    
    @media screen and (min-width: $tradeBreak) {
      border-radius: 0.5rem 0.5rem 0 0;
      padding-top: 1.1875rem;
    }

    @media screen and (max-width: ($tradeBreak - 1px)) {
      height: 15rem;
      h3 {
        display: none;
      }
      .table {
        font-size: 0.75rem;
      }
    }
    .table {
      tbody {
        tr:first-child {
          td {
            padding-top: 0.5rem;
          }
        }
      }
    }
  }

}