.icon {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($grey, 0.25);
  color: $grey;

  img {
    filter: brightness(0) saturate(100%) invert(54%) sepia(47%) saturate(208%) hue-rotate(155deg) brightness(93%) contrast(84%);
  }

  &--orange {
    background-color: rgba($orange, 0.25);
    color: $orange;

    img {
      filter: brightness(0) saturate(100%) invert(55%) sepia(66%) saturate(3684%) hue-rotate(7deg) brightness(101%) contrast(104%);
    }
  }

  &--teal {
    background-color: rgba($teal, 0.25);
    color: $teal;

    img {
      filter: brightness(0) saturate(100%) invert(98%) sepia(99%) saturate(912%) hue-rotate(76deg) brightness(111%) contrast(97%);
    }
  }
  
  &--red {
    background-color: rgba($red, 0.25);
    color: $red;

    img {
      filter: brightness(0) saturate(100%) invert(36%) sepia(79%) saturate(1478%) hue-rotate(333deg) brightness(84%) contrast(116%);
    }
  }

  svg {
    width: 1rem;
    height: 1rem;
    display: block;
  }
  img {
    width: 1.25rem;
    height: 1.25rem;
    display: block;
  }
}